body{
    font-family: Georgia;
    margin: 0;
}

.wrapper{
 width: 100%;
 max-width: 1180px;
 padding: 0 10px;
 margin: 0 auto;
}

h1.logo{
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    width: 100px;
    text-indent: -9999px;
    float: left;
}

header nav{
    float: right;
}

header nav h2{
    text-indent: -9999px;
    height: 0;
    margin: 0;
}

header nav li{
    float: left;
    list-style: none;
    padding: 10px 10px;
}

header nav li a{
    text-decoration: none;
    color: #333;
}

header nav li a:hover{
    text-decoration: none;
    color: red;
}

#banner , #banner img{
    width: 100%;
}

#home-menu h2{
    background-image: url("images/menu.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    height: 74px;
    width: 156px;
    margin: 0 auto;
    position: relative;
    top: -4px;
}

#home-menu ul{
    list-style: none;
    padding: 0;
}

#home-menu ul:after{
    content: "";
    clear: both;
    display: block;
}

#home-menu li{
    float: left;
    width: 42%;
    padding: 0;
    margin: 20px 0 20px 8%;
}

#home-menu li:nth-child(odd){
    margin: 20px 8% 20px 0;
}

.dish{
    float: left;
    color: #555;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding-right: 10px;
}

.price{
    float: right;
    color: #555;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: white;
    padding-left: 10px;
}

.description{
    clear: both;
    display: block;
    color: #b2b1b3;
    font-size: 12px;
    padding-top: 10px;
    border-top: 1px solid #999;
    position: relative;
    top: -8px;
}

#featured ul{
    padding: 0;
    width: 100%;
    margin-top: 100px;
}

#featured ul:after{
    content: "";
    clear: both;
    display: block;
}

#featured li{
    list-style: none;
    float: left;
    width: 23%;
    margin: 1%;
}

#featured li img:hover{
    border: 5px solid darkred;
}

#featured li img{
    width: 100%;
    margin-bottom: 10px;
}

#featured li a{
    float: left;
    text-decoration: none;
    color: #555555;
}

#featured li span{
    float: right;
    color: #555555;
}

footer{
    background-color: #3b3b3b;
    color: white;
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 15px 25px;
}

footer:after{
    content: "";
    clear: both;
    display: block;

}
footer ul{
    float: left;
    padding: 0;
    width: 23%;
    margin-right:2%;
}

footer li{
    list-style: none;
    margin: 10px 0;
}

footer li a{
    text-decoration: none;
    color: white;
}